<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog RoR" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="w-full bg-white border-b shadow-sm mb-4">
      <div class="max-w-6xl mx-auto flex items-center justify-between px-6 py-3">
        <div class="flex items-center gap-6">
          <%= link_to root_path, class: "flex items-center gap-2 text-gray-700 hover:text-blue-600 font-semibold transition" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7m-9 2v6m0 0v6m0-6h6m-6 0H5m6 0h6" />
            </svg>
            Home
          <% end %>
        </div>
      </div>
    </nav>
    <main class="mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>